/* CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.hero{
  width: 100%;
  height: 82px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  margin-top: 0;
}

.logo1{
  width: 200px;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}


.navbar{
  display: flex;
  align-items:center;
  justify-content:center;
  max-width: 2600px;
  margin-bottom: 100px;
  padding: 0 30px;
  position: fixed;
  width: 100%;
  background-color: #000000;
  z-index: 100;

}
.navbar button{
  font-family: "Inter", sans-serif;
  color: #fff;
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid #00b969;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  max-height: 40px;
  font-size: larger;
  right: 40px;
  margin-top: -5px;
}

.nav {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #000;
  align-items: center;
  display: flex;
}

.nav li {
  float: left;
  display: flex;
}

.nav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Hide content by default */
.nav-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show content when hovering over the navigation item */
.nav li:hover .nav-content {
  display: block;
}


.navbar ul{
  margin-top: 20px;
  margin-right: 0px;
}
.navbar ul li a{
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s;
  font-family: 'Inter', sans-serif;
  position: relative;

}
.navbar ul li a:hover,.navbar ul li a:focus{
  color: rgba(255, 255, 255, 1);


}
.lien2::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00b969;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.lien3::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00b969;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.lien1::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00b969;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.lien4::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00b969;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.lien5::after{
  content: "";
  height: 2px;
  width: 100%;
  background-color: #00b969;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s;
  opacity: 0;
  pointer-events: none;
}
.navbar ul li a:hover::after{
  opacity: 1;
}
@media (max-width: 1200px){
  .navbar{
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      row-gap: 0px;
  }
  
}




body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #222;
    background-image: url("res/img/4.png"); /* Chemin vers votre image d'arrière-plan */
    background-size: cover;
    background-position: center;
    color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background: rgba(0, 0, 0); /* Arrière-plan semi-transparent */
    color: #00b969;
    padding: 10px;
    
    text-align: center;
    margin-bottom: 30px;
}



.logo img {
    width: 200px; /* Adjust size as needed */
    margin-right: 10px;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: -30px;
    margin-left: 20px;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

nav ul li a:hover {
    
    font-weight: bold;
}

/*        */

.container{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 0 auto;
  }
  
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #338f67;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #000;
  }
  
  .info-childs p {
    margin: 15px 0 ;
    color: #000;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #ffffff;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
  }
  
  .info-childs input:hover {
    background-color: #000;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background: linear-gradient(to right, #338f67, #222);
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
  }
  
  .form-information-childs h2 {
    color: #fff;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #fff;
  }
  
  .icons {
    margin: 15px 0;
  }
  
  .icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: #fff;
    border: solid thin #9191bd;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .icons i:hover {
    background-color: #c7c7f3;
    color: #fff;
  }
  
form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
input[type="password"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #00b969;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #009933;
}

@media screen and (max-width:750px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:580px) {
    html {
      font-size: 15px;
    }
  
    .container-form {
      height: auto;
      flex-direction: column;
    }
  
    .information {
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0;
    }
  
    .form-information {
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
    }
  }
  

  footer {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 50px;
}

footer p {
  margin: 0;
}
